.Menu__Details__Img{
    height:195px;
}

.Menu__Details_Title{
    font-size: 3em !important;
}

.Menu__Details_Description{
    font-size: 2em !important;
}

.Menu__Details_Ingredients{
    font-size: 2em !important;
}

